<h2 mat-dialog-title>Editer l'image chapitre</h2>

<mat-dialog-content>
  <mat-dialog-actions>
    post ID : {{data.postId }} - image ID: {{data.imageId}} - imgElement: {{data.imgElement}}
  </mat-dialog-actions>

  <mat-form-field appearance="outline" style="width: 100%;">
    <textarea matInput [(ngModel)]="searchText" placeholder="Enter text" rows="3" cdkTextareaAutosize></textarea>
  </mat-form-field>
  <button mat-button (click)="onSearch()">Search</button>

  <div class="image-grid-container" *ngIf="rawIMages?.length" style="max-height: 400px; overflow-y: auto; margin-top: 16px;">
    <div class="image-grid" style="display: flex; flex-wrap: wrap; gap: 16px;">
      <mat-card *ngFor="let image of rawIMages" class="image-card" style="width: 200px; position: relative;">
        <img mat-card-image [src]="image.link" [alt]="image.mime" />
        <mat-card-content>
          <p>Type : {{ image.mime }}</p>
          <p>Dimensions : {{ image.width }} x {{ image.height }}</p>
          <p>Taille : {{ image.byteSize }} octets</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" (click)="selectImage(image.link)">Sélectionner</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="{ confirmed: true, selectedUrl: selectedUrl, searchText: searchText }" cdkFocusInitial>Confirm</button>
</mat-dialog-actions>
